*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #1E1E1E;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 42px;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

input {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 20px;
}

input:focus {
  outline: none;
  box-shadow: none;
}


button {
  background-color: #B08D57;
  border: none;
  border-radius: 2.5px;
  max-width: 300px;
  width: 100%;
  padding: 5px;
  cursor: pointer;
}

/* Colors */
.black {
  color: #484848
}

.white {
  color: #fff;
}

.primary {
  color: #FF5A5F;
}

.secondary{
  color: #B08D57;
}

.background_white {
  background-color: #fff;
}

/* text align */
.text-center {
  text-align: center;
}

.container {
  width: 85%;
  margin: 0 auto;
}