body {
  background-color: #1E1E1E;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 42px;
  color: #fff;
}

input:focus {
  outline: none;
  box-shadow: none;
}

/* Colors */
.black {
  color: #484848
}

.white {
  color: #fff;
}

.primary {
  color: #FF5A5F;
}

.secondary{
  color: #00A699;
}

.background_white {
  background-color: #fff;
}

/* text align */
.text-center {
  text-align: center;
}